/*
  Custom styles for Trackster App
*/

/* HEADER STYLES */

.header {
  background-color: rgb(35, 2, 63);
  color: white;
  padding: 2.75rem 0;
}

@keyframes headerchange {
    from {font-size: 1.5rem;}
    to {font-size: 2.5rem;}
}

.header h1 {
  font-size: 2.5rem;
  font-family: Righteous;
  color: rgb(255, 0, 171);
  margin-top: 0;
  margin-bottom: 0;
}

.header .headerchange {
  animation-name: headerchange;
  animation-duration: 1s;
}

.header input {
  color: rgb(74, 74, 74);
  height: 3rem;
  border: 0;
  border-radius: 10px;
}

.header i {
  color: rgb(255, 102, 204);
}

.header i:hover {
  color: rgb(255, 0, 107);
}

/* INPUT PLACEHOLDER STYLES */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(191, 191, 191);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(191, 191, 191);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(191, 191, 191);
}

/* COLUMN HEADER STYLES */

.column_titles {
  background-color: rgb(104, 0, 255);
  padding: .6rem 0;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.column_titles p {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Work Sans', sans-serif;
}

/* COLUMN SONG STYLES */

.song_info {
  background-color: rgb(159, 159, 159);
  padding: .6rem 0;
  border-bottom: 1px solid rgb(204, 204, 204);
  display: flex;
  align-items: center;
}

.song_info div {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(74, 74, 74);
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Work Sans', sans-serif;

}

.song_info:hover {
  background-color: rgb(239, 237, 242);
}

.song_info i {
  color: rgb(255, 0, 171);
}
